@model IPagedList<Rentoo.Domain.Entities.User>
@using X.PagedList.Mvc.Core
@using RM = Rentoo.Domain.Shared.Localization.Global;
@{
    ViewData["Title"] = "System Admins";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="mb-3">
    <a asp-action="Create" class="btn btn-success">@RM.Global.lbCreatenewAdmin</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>@RM.Global.lbFirstName</th>
            <th>@RM.Global.lbLastName</th>
            <th>@RM.Global.lbBirthDate</th>
            <th>@RM.Global.lbAddress</th>
            <th>@RM.Global.lbPhoneNumber</th>
            <th>@RM.Global.lbActions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int rowIndex = (Model.PageNumber - 1) * Model.PageSize;
        }

        @foreach (var user in Model)
        {
            rowIndex++;
                <tr>
                    <td>@rowIndex</td> <!-- Row number -->
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.BirthDate.ToString("yyyy-MM-dd")</td>
                    <td>@user.Address</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post" class="delete-form d-inline">
                        <button type="button" class="btn btn-sm btn-danger delete-btn">@RM.Global.lbDelete</button>
                    </form>
                    </td>
                </tr>
        }
    </tbody>

</table>

<div class="d-flex justify-content-center mt-4">
    @Html.PagedListPager(Model, page => Url.Action("SystemAdmins", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    UlElementClasses = new[] { "pagination" },
    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
    DisplayLinkToLastPage = PagedListDisplayMode.Never,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    LinkToPreviousPageFormat = $"« {RM.Global.lbPrev}",
    LinkToNextPageFormat = $"{RM.Global.lbNext}»",
    MaximumPageNumbersToDisplay = 5,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true
})
</div>
@await Html.PartialAsync("_DeleteConfirmationScript")
